@keyframes fadeIn{
    0% { opacity:.01;}
    100% { opacity:1;}
}
img {
    animation-name:fadeIn;
    animation-duration:s;
}
.grid {/*Self explanatory*/
   background-color: white;
    opacity: 0.0 - 0.2;
    display: grid;
    grid-template-areas:
        "t t t t"
        "n n n l"
        "c s s s";
}
.title {/*Self explanatory*/
    grid-area: t;
    text-align: center;
    background-color: rgb(77, 145, 77);
    color: white;
    margin-top: 0px;
    padding: 20px;
}
.cardContainer { /*Self explanatory*/
    grid-area: s;
    font-family: Arial, Helvetica, sans-serif;
}
.Logo{
    grid-area:l;
    height:50px;
    width:50px;
    -moz-box-align: end;
}
img {/*Self explanatory*/
    float: left;
    height: 110px;
    width: 110px;
}
img {
  padding:6px;
  background-color: transparent;
  transition: transform .2s;
  height: 110px;
  width: 110px;
  margin: 0 auto;
}
.sCards {
    border: 2px solid rgb(124, 187, 124);
    padding: 10px;
    margin: 6px;
    color:rgb(8, 0, 94)
    
}
.dash { /*All Students heading in all Students*/
    margin: 10px;
}
.cohortL {
    grid-area: c;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cohortL h2 {
    text-align: center;
}
.cohortButton {/*The main cohort button*/
    border: none;
    background-color: transparent;
    opacity: 0.0 - 1.0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    color:rgb(0, 22, 1);
    padding-right: 100px;
}
.cList {/*<li> which wraps the main cohort button*/
    border-bottom: 2px solid rgb(77, 145, 77);
    list-style: none;
    padding: 20px;
    margin-right: 20px;
    margin-left: px;
}
.allButton { /*cohort handleClick button*/
    border: none;
    background-color: transparent;
    opacity: 0.0 - 1.0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    padding-right: 100px;
    text-decoration: underline;
    color:rgb(0, 22, 1)
}
.count {/*Student Counter below the All Students title above the cards*/
    margin-left: 10px;
}
.showB {/*Show More Button */
    font-size: 12px;
    
    border: none;
    background-color: rgb(255, 255, 255);
    color:rgb(64, 94, 64)
    
}
.child { /*Codewars, Scores, Certifications Show More Button  */
    border: none;
    box-sizing:content-box;
    font-size: 18px;
    
}
.parent { /*Codewars, Scores, Certifications Show More Button  */
    display: flex;
    font-size: 10px;
}