@keyframes fadeIn{
    0% { opacity:.01;}
    100% { opacity:1;}
}
img {
    animation-name:fadeIn;
    animation-duration:s;
}
.app{
    background-color: white;
    display: grid;
    grid-template-areas: 
        "t t t t"
        "n n n l"
        "c s s s"
        "f f f f";
}
.title{
    grid-area: t;
    text-align: center;
    background-color: rgb(37, 143, 181);
    color: white;
    margin-top: 0px;
    padding: 20px;
}
.cardContainer {
    grid-area: s;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    float: left;
    height: 110px;
    width: 110px;
}
img{
    padding: 6px;
    background-color: transparent;
    transition: transform .2s;
    height: 110px;
    width: 110px;
    margin: 0 auto;
}
.studentCard{
    border: 2px solid rgb(124, 181, 187);
    padding: 10px;
    margin: 6px;
    color:rgb(8, 0, 94)
}
.cohortList{
    grid-area: c;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
.cohortL h2 {
    text-align: center;
}
.showMoreButton {
    font-size: 12px;
    border: none;
    background-color: white;
    color:  rgb(53, 156, 204)
    
}
.dash {
     margin: 10px;
}
.classList{
    border-bottom: 2px solid rgb(77, 145, 77);
    list-style: none;
    padding: 20px;
    margin-right: 20px;
}
.mainButton {
    border: none;
    background-color: transparent;
    opacity: 0.0 - 1.0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
    color:rgb(0, 22, 1);
    padding-right: 100px;
}
.cohortButton {
    border: none;
    background-color: transparent;
    opacity: 0.0 - 1.0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    padding-right: 100px;
    text-decoration: underline;
    color:rgb(0, 22, 1)
}
.count {
    margin-left: 10px;
}
.grad {
    float: right;
    padding-right: 20px;
    color: blueviolet;
}
.form{
    grid-area: f;
    background-color: beige;
    /* padding: 10px; */
    margin-bottom: 20px;
    margin-left: 700px;
    margin-right: 150px;
}
